<style>
 
</style>
{% extends 'base.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar"> <!-- sidebar -->
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/customers">
                            View Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/policies">
                            View Policies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_bp.view_claims') }}">
                            Pending Claims
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <img src="data:image/png;base64,{{ chart_data }}" alt="Chart">
    </div>
</div>
{% endblock %}