<style>
        .claimhistory {
        text-align: center;
    }

    .claims,
    .claimhistory {
        background-color: rgb(124, 138, 111);
        width: 80%;
        border-radius: 5px;
        text-align: center;
        color: #f2f2f2;
        padding: 5px;
        margin: 3px;
        border: 2px solid rgb(100, 112, 90);
        box-sizing: border-box;
        list-style-type: none;
    }
</style>
{% extends 'base.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar"> <!-- sidebar -->
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <form action="{{url_for('user_bp.show_file_claim') }}" method="POST">
                            <input name="CustomerID" type="text" value="{{customer.CustomerID}}" hidden />
                            <button type="submit">File a new claim</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            View my policies
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="{{url_for('user_bp.show_register_for_policy') }}" method="POST">
                            <input name="CustomerID" type="text" value="{{customer.CustomerID}}" hidden />
                            <button type="submit">Take out a new policy</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Update my profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Claim History
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Pending Claims
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 d-none d-md-block">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <p class="font-size-xl mb-1">Welcome, <span class="font-weight-bold">{{customer.FirstName}}</span></p>
            </div>
            <div class="claims">
                <h3>Claims</h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Claim</th>
                            <th>Claim Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for claim in customer.claims %}
                        <tr>
                            <td>{{ claim.Amount }}</td>
                            <td>{{ claim.DateFiled}}</td>
                            <td>{{ claim.Status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="claimhistory">
                <h3>Your Policies</h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Status</th>
                            <th>Premium</th>
                            <th>Policy Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for policy in customer.policies %}
                        <tr>
                            <td>{{ policy.Status }}</td>
                            <td>{{ policy.MonthlyPremium }}</td>
                            <td>{{ policy.policy_type.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}