<style>
    @media (max-width: 600px) {
    .policy-container {
        padding: 10px;
    }
    .policy {
        margin: 10px;
    }
    
    img {
        display: none;
    }
}

@media (min-width: 601px) {
    .policy-container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: baseline;
    }

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    
    .policy h3,
    .policy p {
        margin: 5px;
    }
}

.estimate-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }
        
        .get-estimate {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
{% extends 'base.html' %} {% block body %}
<img src="../static/images/gavel.jpg" alt="{{ policy.alt }}">
<div class="container">
    <div class="policy-container">
        <div class="policy">
            <h3>{{ policy.name }}</h3>
            <p>{{ policy.description }}</p>
        </div>
        <div class="estimate-container">
            <h3>Get Insurance Estimate</h3>
            <form action="{{ url_for('user_bp.complete_quote')}}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.cover_type.label }}
                    {{ form.cover_type(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>Which of these apply to you:</label><br>
                    <div class="form-check">
                        {{ form.criminal_record(class="form-check-input") }}
                        {{ form.criminal_record.label(class="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.tried(class="form-check-input") }}
                        {{ form.tried.label(class="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.arrested(class="form-check-input") }}
                        {{ form.arrested.label(class="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.none(class="form-check-input") }}
                        {{ form.none.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.government_official.label }}
                    {{ form.government_official(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.age.label }}
                    {{ form.age(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.occupation.label }}
                    {{ form.occupation(class="form-control") }}
                </div>
                <div>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}