<div class="estimate-container">
    <h3>Get Insurance Estimate</h3>
    <form action="{{ url_for('user_bp.get_quote')}}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.cover_type.label }}
            {{ form.cover_type(class="form-control") }}
        </div>
        <div class="form-group">
            <label>Which of these apply to you:</label><br>
            <div class="form-check">
                {{ form.criminal_record(class="form-check-input") }}
                {{ form.criminal_record.label(class="form-check-label") }}
            </div>
            <div class="form-check">
                {{ form.tried(class="form-check-input") }}
                {{ form.tried.label(class="form-check-label") }}
            </div>
            <div class="form-check">
                {{ form.arrested(class="form-check-input") }}
                {{ form.arrested.label(class="form-check-label") }}
            </div>
            <div class="form-check">
                {{ form.none(class="form-check-input") }}
                {{ form.none.label(class="form-check-label") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.government_official.label }}
            {{ form.government_official(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.age.label }}
            {{ form.age(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.occupation.label }}
            {{ form.occupation(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
</div>