{% extends 'base.html' %} {% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h2>Contact Us</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="bg-light p-4 rounded">
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="name">Your Name:</label>
                        <input class="form-control" type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email Address:</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Estimated premuim:</label>
                        <label for="premuim">{{premuim}}</label>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-light p-4 rounded text-center">
                <i class="fas fa-phone"></i>
                <span class="tel">123 456 7890</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}