<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 70px auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    h2 {
        text-align: center;
    }

    .update-form {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 20px;
        width: 50%;
    }
</style>
{% extends 'base.html' %} {% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i aria-hidden="true" class="fa-solid fa-xmark"></i>
      </button>
      <ul class="list-unstyled">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<div class="container">
    <h2 class="mb-4">Update Policy Type</h2>
    <form class="update-form"
        action="{{ url_for('admin_bp.update_policy_info', PolicyTypeID=policy_type.PolicyTypeID) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control", value=form.name.data) }}
            {% for error in form.name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control", value=form.description.data) }}
            {% for error in form.description.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.short_description.label(class="form-control-label") }}
            {{ form.short_description(class="form-control", value=form.short_description.data) }}
            {% for error in form.short_description.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.img.label(class="form-control-label") }}
            {{ form.img(class="form-control", value=form.img.data) }}
            {% for error in form.img.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.alt.label(class="form-control-label") }}
            {{ form.alt(class="form-control", value=form.alt.data) }}
            {% for error in form.alt.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}